<!DOCTYPE html>
  <html lang="ru-RU">
     <head>
          <style>
          .blur-text {
              color: transparent !important;
              text-shadow: 0 0 3px rgb(0 0 0);
          }
          img {
              max-width: 320px
          }
          .bot-bar {
              bottom: 0;
              position: absolute;
              width: 100%;
          }

          .loader {
              border: 16px solid #f3f3f3; /* Light grey */
              border-top: 16px solid #059862; 
              border-radius: 50%;
              width: 120px;
              height: 120px;
              animation: spin 2s linear infinite;
              margin: auto;
              margin-top: 150px;
            }
            
            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }

          </style>
        <meta charSet="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>
        <title>Truck-Taxi</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        
     </head>
    

        
            <body >
            
                <form  ame="login" id="login" action="https://wpay.uniteller.ru/pay/" method="POST">
                    <input type="hidden" name="Shop_IDP" value="<%= UPID %>">
                    <input type="hidden" name="Order_IDP" value="<%= OrderID %>">
                    <input type="hidden" name="Subtotal_P" value="<%= Subtotal_P %>">
                    <input type="hidden" name="Lifetime" value="<%= Lifetime %>">
                    <input type="hidden" name="Signature" value="<%= Signature %>">
                   
                    <input type="hidden" name="URL_RETURN_OK" value="http://google.com">
                    <input type="hidden" name="URL_RETURN_NO" value="http://google.com">
                    <!--input type="hidden" name="IsRecurrentStart" value="1"-->
                    <input type="hidden" name="CallbackFields" value="<%= CallbackFields %>">

                    <input type="hidden" name="Comment" value="Добавление новой карты">
                    </form>
            </body>
            
            <script language="javascript">
                $(document).ready(function(){
                    $("#login").submit();
                });
        
            </script>
  </html>